:root {
    --maincolor: hsl(0, 0%, 30%);
    --hovercolor: hsl(0, 0%, 50%);
    --bordercl: hsl(0, 0%, 60%);
}

footer {
    color: hsl(0, 0%, 60%);
}

a:is(.rss-link, .footnote-ref, .footnote-backref) {
    border-bottom-width: 0;
}

img {
    border: none;
}

p {
    font-family: inherit;
}

.footnotes {
    color: hsl(0, 0%, 60%);
    margin-top: 4rem;
    margin-bottom: 5rem;
}
